
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Parkinsans:wght@300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2cm 0;
}
.resume{
    width: 80%;
}
.main{
    display: flex;
    text-align: center;
    font-family: "Parkinsans";
}
.main img{
    width: 20%;
    aspect-ratio: 1/1.2;
}
.main .short{
    width: 80%;
    background-color: #32c1e4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #595757;
}
.main .short h2{
    font-size: 50px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    color: white;
}
.main .short .tag{
    display: flex;
    align-items: center;
}
.main .short .tag .seaparator{
    font-size: 20px;
    margin: 0 5px;
}
.content{
    font-family: "Bokor", system-ui;
    display: flex;
    flex-wrap: wrap;
    color: #595959;
}
.content div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}
